* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Monospaced sans-serif;
    text-decoration: none;
    letter-spacing: 0.08em;
    font-size: 15px;
}


body {
  background: linear-gradient(to right, #92f76a, #a2fad8);
}

.form__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

label {
  display: inline-block;
  width: 120px;
  text-align: left;
}

a {
  margin-right: 42px;
}

input {
    border: 1px solid #385d8a;
    font-size: 1.3rem;
    font-weight: 100;
    padding: 5px 10px;
    width: 200px;  
    margin-right: 55px;
    font-family: 'Times New Roman';
    cursor: pointer;
}

div {
    margin: 10px;
}


.form__box {
  margin: 50px auto;
  position: relative;
  width: 1000px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 1px 4px 22px -8px #0004;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

input[type='submit']{
  width: 100%;
  border-radius: 10px;
  border: none;
  height: 38px;
}


input[type='submit'] {
  background: #22dde3;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 25px;
}
input[type='submit']:hover {
  background: #3fffb5;
}

input:after {
  position: absolute;
}

a {
  color: #71df88;
  position: relative;
}
a:hover {
  color: #ff3f70;
}

.custombackHome {
  margin: 10px 5px;
  border-radius: 8px;
  background-color: #4f81bd;
  position: absolute;
  top: 3px;
  left: 3px;
  border: #0099ff;
}

.custombackHome > a {
  display: flex;
  padding-bottom: 3px;
  color:white !important;
  
}

.distance {
  display: flex;
  justify-content: center;
}


.formSearch {
  margin: 50px auto;
  position: relative;
  width: 1000px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 1px 4px 22px -8px #0004;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 50px;
  flex-direction: column;
}

.info{
  width: 350px;
  margin: 0 auto;
}