* {
      font-family: 'Times New Roman', Times, serif;
      font-size: 16px;
}

form {
    padding: 10px;
    border: 1px solid #385d8a;
    width: 700px;
    font-family: 'Times New Roman';
    font-size: 16px;
    margin-left : auto;
    margin-right: auto; 
    margin-top: 100px;

}

body {
    margin: 50px auto;
    text-align: center;
    width: 800px;
}

label {
  display: inline-block;
  width: 120px;
  text-align: left;
}

input {
    border: 1px solid #385d8a;
    font-size: 1.3rem;
    font-weight: 100;
    padding: 5px 10px;
    width: 200px;  
    margin-right: 55px;
    font-family: 'Times New Roman';
    cursor: pointer;
}

.btn-search {
  width: 167px;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: 'Times New Roman';
    font-weight: 1;
    background: #4f81bd;
    border: 1px solid #385d8a;
    margin-top: 30px;
}

.error {
  color: #ff3c33;
}

div {
    margin: 10px;
}

.custombackHome {
    margin: 10px 5px;
    border-radius: 8px;
    background-color: #4f81bd;
    position: absolute;
    top: 3px;
    left: 3px;
    border: #0099ff;
}

.custombackHome > a {
    display: flex;
    padding-bottom: 3px;
    color:white !important;
    
}

.count {
    text-align: left;

}

table {
    width: 100%;
    text-align: left;
    margin: 30px ;
    font-weight: 100;
    /* border: 1px solid black; */
}



.select-nameClass {
    width: 222px;
    padding: 8px;
    font-size: 1rem;
    font-family: 'Times New Roman';
    font-weight: 1;
    background: #ffffff;
    border: 1px solid #385d8a;
    margin-right: 55px;
 
}

.UandD {
    width: 50px;
    font-size: 1rem;
    background: #4f81bd;
    border: 1px solid #385d8a;
    margin: 1px;
} 
